<div class="row">
    <div class="col-xl-6">
        <app-page-header pageTitle="Ride Details"></app-page-header>  
    </div>
    <div class="col-xl-6">
        <gx-breadcrumbs displayAs="nav" class="mb-0" [data]="breadcrumb"></gx-breadcrumbs>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="dt-card">
            <div class="dt-card__body">
                <div class="dataTables_wrapper mb-4">
                    <div class="dataTables_filter">
                        <!-- <label for="status">Search by status </label> -->
                      <select class="form-control form-control-sm statusfilter" id="status">
                        <option [ngValue]='null' disabled selected>Filter by Status</option>
                        <option *ngFor="let status of _statuslist" 
                         [ngValue]="status.status">{{status.status}}</option>
                      </select>
                   
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="datatable table-striped" id="dataTables-example" datatable [dtOptions]="dtOptions" [dtTrigger]='dtTrigger'>
                        <thead>
                            <tr>
                                <th class="text-uppercase idhide" scope="col">Ride id</th>
                                <th class="text-uppercase" scope="col">Booking Number</th>
                                <th class="text-uppercase" scope="col">Requested Date Time</th>
                                <th class="text-uppercase" scope="col">Passenger Name</th>
                                <th class="text-uppercase" scope="col">Driver Name</th>
                                <th class="text-uppercase" scope="col">Ride From</th>
                                <th class="text-uppercase" scope="col">Ride To</th>
                                <th class="text-uppercase" scope="col">Status</th>
                                <th class="text-uppercase" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = 'let data of rideDetails'>
                                <td class="idhide">{{data.ride_id}}</td>
                                <td>{{data.booking_number}}</td>
                                <td>{{data.requested_datetime}}</td>
                                <td>{{data.customer.first_name + ' ' + data.customer.last_name}}</td>
                                <td>{{data.driver.first_name + data.driver.last_name}}</td>
                                <td>{{data.pickup_address}}</td>
                                <td>{{data.drop_address}}</td>
                                <td [ngClass]="data.status.status">{{data.status.status}}</td>
                                <td style="cursor: pointer;"><button type="button" class="btn btn-primary btn-xs"
                                (click)="viewRides(data.ride_id)" 
                                [ngStyle]="{'display':(data.status.status === 'Requested') ? 'none' :
                                (data.status.status === 'Confirmed') ? 'block':''}"><i class="fa fa-eye" aria-hidden="true" ></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [ngStyle]="{'color':(data.status_id === 'Requested') ? 'red' :
                                (data.status_id === 'Confirmed') ? 'green':''}" -->