<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
      <img class="mx-auto d-block img-fluid logo" src="assets/images/logo.png">
    </div> 
</div> 
<div class="row"> 
    <div class="col-xl-12">
      <div class="">
        <h1 class="text-center">Admin Login</h1>
      <div class="dt-login__content">  
        <div class="dt-login__content-inner">
          <form>
              <div class="form-group">
              <label class="" for="username">Username</label>
              <input type="text"
                     class="form-control"
                     id="username"
                      required>
            </div>
            <div class="form-group">
              <label class="" for="password">password</label>
              <input type="password"
                     class="form-control"
                     id="password"
                      required>
            </div>
  
            <div class="form-group">
              <button type="submit" class="btn btn-primary text-uppercase" (click)='onSubmit()'>Login</button>

            </div>
    
          </form>
    
        </div>
    
      </div>
      </div>
    </div>
</div>
</div>
  
  