<div class="row">
  <div class="col-xl-6">
    <app-page-header pageTitle="Driver - Add Driver"></app-page-header>
  </div>
  <div class="col-xl-6">
    <gx-breadcrumbs displayAs="nav" class="mb-0" [data]="breadcrumb"></gx-breadcrumbs>
  </div>
</div>
<div class="row">
<div class="col-12">

<gx-card card-title="Add Driver">

  <form [formGroup]='driverform' (ngSubmit)="addDriver()">

    <div class="form-row mb-4">
      <div class="col-sm-6 mb-3">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" id="firstname" 
        placeholder="First name" formControlName= "first_name" name="first_name" required>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" id="lastname" placeholder="Last name" formControlName = "last_name" name="last_name">
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col-sm-6 mb-3">
        <label for="mobile">Mobile Number</label>
        <input type="text" class="form-control" id="mobile" 
        placeholder="Mobile Number" formControlName = "mobile_number" name="mobile_number" required>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="Enter City" formControlName = "city" name="city">
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col-sm-6 mb-3">
        <label for="language">Language</label>
        <select class="form-control" id="language" formControlName="language_id">
          <option [ngValue]='null' disabled selected>Select Language</option>
          <option *ngFor="let langdata of languagelist" 
           [ngValue]="langdata.language_id">{{langdata.language}}</option>
        </select>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="bloodgroup">Blood Group</label>
        <select class="form-control" id="bloodgroup" formControlName="blood_group_id">
          <option [ngValue]='null' disabled selected>Select Blood Group</option>
          <option *ngFor="let bloodgroupdata of bloodGrouplist" 
           [ngValue]="bloodgroupdata.blood_group_id">{{bloodgroupdata.blood_group}}</option>
        </select>
      </div>
    </div>
    <div class="form-row mb-4">
      <label class="col-md-2 col-sm-3  mb-4 mb-sm-0">Gender</label>

      <div class="col-md-10 col-sm-9">

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="M"
          formControlName="gender">
          <label class="custom-control-label" for="customRadioInline1">Male</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="gender" value="F"
                 class="custom-control-input" formControlName="gender">
          <label class="custom-control-label" for="customRadioInline2">Female</label>
        </div>
      </div>
    </div>

    <!-- <hr class="border-dashed my-8"> -->
    <!-- <div class="dt-card__heading mb-4">
      <h3 class="dt-card__title">Vehicle Information</h3>
    </div>

    <div class="form-row mb-4">
      <div class="col-sm-6 mb-3">
        <label for="vehicleno">Vehicle Number</label>
        <input type="text" class="form-control" id="vehicleno" placeholder="Vehicle Number" ngModel  name="vehicleNumber" required>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="vehicletype">Vehicle Type</label>
        <input type="text" class="form-control" id="vehicletype" placeholder="Vehicle Type" ngModel  name="vehicleType" required>
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col-sm-6 mb-3">
        <label for="vehiclemodel">Vehicle Model</label>
        <input type="text" class="form-control" id="vehiclemodel" placeholder="Vehicle Model" ngModel  name="vehicleModel" required>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="taxrenewal">Tax Renewal Date</label>
        <input type="text" class="form-control" id="taxrenewal" placeholder="Tax Renewal Date" ngModel name="taxRenewalDate" required>
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col-sm-6 mb-3">
        <label for="insurancerenewal">Insurance Renewal Date</label>
        <input type="text" class="form-control" id="insurancerenewal" placeholder="Insurance Renewal Date" ngModel name="insuranceRenewalDate" required>
      </div>
    </div>-->

    <div class="form-group mb-0">
      <button type="submit" class="btn btn-primary text-uppercase">Create</button>
    </div> 

  </form>

</gx-card>

</div>
</div>