    <gx-card >
        <div class="modal-header">
            <h3 class="" style="text-align: center; width: 100%;"> Create New Brand</h3>
            <button type="button" class="close text-danger" data-dismiss="modal"
                (click)="modal.dismiss('Cross click')">×</button>
        </div>
        <div class="">
            <form [formGroup]='makeform' (ngSubmit)='onSubmit()'>
                <div class="form-group form-row">
                    <label class="col-xl-3 col-form-label text-sm-right" for="name">Brand Name</label>
          
                    <div class="col-xl-9">
                      <input type="text" class="form-control" id="name"
                       placeholder="Enter Brand Name" 
                       formControlName="brand_name" [ngClass]="{'is-invalid' : submitted && f.brand_name.errors}">
                       <div *ngIf="submitted && f.brand_name.errors" class="invalid-feedback">
                           <div *ngIf="f.brand_name.errors.required">Brand name is required</div>
                       </div>
                    </div>
                  </div>
                  <div class="form-group form-row">
                    <div class="col-xl-9 offset-xl-3">
                        <button type="submit" class="btn btn-primary text-uppercase">Save</button>
                        <button type="reset" class="btn btn-primary text-uppercase ml-3">Reset</button>
                    </div>
                  </div> 
            </form>
        </div>
    </gx-card>
