@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .col-form-label{
        text-align: left !important;
    }
}
.is-invalid{
    background-image: none;
}
.form-group.required .control-label:after {
    content:"*";
    color:red;
}
