<div class="row">
    <div class="col-xl-6">
      <app-page-header pageTitle="Master Setting - Vehicle Type"></app-page-header>
    </div>
    <div class="col-xl-6">
      <gx-breadcrumbs displayAs="nav" class="mb-0" [data]="breadcrumb"></gx-breadcrumbs>
    </div>
  </div>
  <gx-card>
    <card-header class="mb-5" card-title="Vehicle Type">
  
      <card-tool>
        <!-- <button type="button" class="btn btn-primary btn-sm" (click)="addMakeModal()">Add New</button> -->
      </card-tool>
  
    </card-header>
    <hr class="border-dashed my-8">
    <div class="dt-card__body p-0">
      <div class="dt-widget dt-widget-hover-bg">
        <div class="dt-widget__item" *ngFor="let data of _vehiclelist">
  
          <div class="dt-widget__img align-self-center">
            <div class="dt-widget__title d-flex mb-4">
              <span class="dot-shape dot-shape-lg mr-2"></span>
            </div>
          </div>
          <div class="dt-widget__info text-truncate">
            <div class="dt-widget__title d-flex mb-4">
              <span class="f-16 font-weight-500">{{data.vehicle_type}}</span>
            </div>
  
          </div>
          <div class="dt-widget__extra text-right">
            <div class="hide-content">
              <div class="action-btn-group">
                <button class="btn btn-primary btn-sm">Edit</button>
                <button class="btn btn-secondary btn-sm">Delete</button>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  </gx-card>