<div class="row">
  <div class="col-xl-6">
    <app-page-header pageTitle="Fee Schedule-Passenger"></app-page-header>
  </div>
  <div class="col-xl-6">
    <gx-breadcrumbs displayAs="nav" class="mb-0" [data]="breadcrumb"></gx-breadcrumbs> 
  </div>
</div>
<button type="button" class="btn btn-primary  mr-2 mb-2" routerLink="/feepassenger-list">&#8249; Back</button>

<div class="row">
    <div class="col-xl-12">
        <gx-card card-title="Create Fee Schedule Passenger">
          <form name="form" autocomplete="off" [formGroup]="feepassengerform" (ngSubmit)="onsubmit()">
            <div class="form-group form-row mb-5">
              <label class="col-xl-2 col-form-label text-sm-right" for="signupfee">Signup Fee</label>
              <div class="col-xl-9">
                <input type="number" class="form-control" id="signupfee" placeholder="Enter Signup Fee" formControlName="signupfee">
              </div>
            </div>
            <div class="form-group form-row mb-5">
              <label class="col-xl-2 col-form-label text-sm-right" for="signupcredit">Signup Credit</label>
              <div class="col-xl-9">
                <input type="number" class="form-control" id="signupcredit" placeholder="Enter Signup Credit" formControlName="signupcredit">
              </div>
            </div>
            <div class="form-group form-row mb-5">
              <label class="col-xl-2 col-form-label text-sm-right" for="ridefee">Ride Fee</label>
              <div class="col-xl-9">
                <input type="number" class="form-control" id="ridefee" placeholder="Enter Ride Fee" formControlName="ridefee">
              </div>
            </div>
            <div class="form-group form-row mb-5">
              <label class="col-xl-2 col-form-label text-sm-right" for="ridecommission">Ride % Commission</label>
              <div class="col-xl-9">
                <input type="number" class="form-control" id="ridecommission" placeholder="Enter Ride % Commission" formControlName="ridecommission">
              </div>
            </div>
            <div class="form-group form-row mb-5">
              <div class="col-xl-9 offset-xl-2">
                <button type="submit" class="btn btn-primary text-uppercase">Create</button>
              </div>
            </div>
          </form>  
      </gx-card>  
    </div>
</div>